/* 🌄 Background Styling */

.stApp 
{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuub7bPwq6yP3A8mkX6z3cUQG6XD-n_olvHQ&s");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}
